<span><a href="https://twitter.com/KellyBlincoe"><i class="fab fa-twitter"></i> Twitter</a></span><br>
<span><a href="https://scholar.google.com/citations?user=lqL9DsoAAAAJ&hl=en"><i class="ai ai-google-scholar"></i> Google Scholar</a></span><br>
<span><a href="https://www.researchgate.net/profile/Kelly_Blincoe"><i class="ai ai-researchgate"></i> ResearchGate</a></span><br>
<span><a href="https://dblp.org/pid/50/10438"><i class="ai ai-dblp"></i> dblp</a></span><br>
<span><a href="https://orcid.org/0000-0003-4092-9706"><i class="ai ai-orcid"></i> Orcid</a></span><br>
<span><a href="https://github.com/kblincoe"><i class="fab fa-github"></i> GitHub</a></span><br>
<span><a href="https://hasel.auckland.ac.nz/"><i class="fa fa-university"></i> UOA HASEL</a></span><br>
<span><a href="mailto:k.blincoe@auckland.ac.nz"><i class="fas fa-envelope"></i> Email</a></span><br>
<span><i class="fa fa-phone"></i>+64 9 923 4715</span><br><br>

<span>Private Bag 92019<br>
Auckland Mail Centre<br>
Auckland 1142<br>
New Zealand<br>
</span>
